<div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <form action="" class="bg-dark text-white p-3 border rounded m-0">
          <h1>Mascota</h1>
          <div class="form-group">
            <label for="">Nombre de la mascota</label>
            <input type="text" class="form-control" name="name" value="Name of pet">
            <label for="">Descripcion de la mascota</label>
            <input type="text" class="form-control" name="name" value="Description of pet">
            <div class="row pt-2">
                <div class="col-lg-3">
                    <label>Propietario</label>
                    <input type="text"class="form-control" name="owner" value="owner">
                  </div>
              <div class="col-lg-3">
                <label>URL Image Pet</label>
                <input type="text"class="form-control" name="url" value="https://picsum.photos/id/237/200/300">
              </div>
              <div class="col-lg-3">
                <label>Id</label>
                <input type="text" class="form-control" name="id" value="ID">
              </div>

            </div>
          </div>
          <div class="row pt-2">
            <button type="button" class="btn btn-outline-success add-user offset-2 col-3" id="save-pet"  >Agregar Mascota</button>

          </div>
        </form>
      </div>
    </div>
  </div>



