
<div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <form action="" class="bg-dark text-white p-3 border rounded m-0">
          <h1>Usuarios</h1>
          <div class="form-group">
            <label for="">Nombre del usuario</label>
            <input type="text" class="form-control" name="name" value="Name">
            <div class="row pt-2">
              <div class="col-lg-3">
                <label>URL Image User</label>
                <input type="text"class="form-control" name="url" value="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
              </div>
              <div class="col-lg-3">
                <label>Id</label>
                <input type="text" class="form-control" name="description" value="Description">
              </div>

            </div>
          </div>
          <div class="row pt-2">
            <button type="button" class="btn btn-outline-success add-user offset-2 col-3" id="save-user"  >Agregar Usuario</button>

          </div>
        </form>
      </div>
    </div>
  </div>



